<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="css/styleStation.css">
</head>
<body>
	<div class="">
		<div class="mybus__top">
			<h1>My<span>Bus</span></h1>
			<p>February 24, 2021 , 4:45 pm</p>
		</div>
		<div class="mybus__main">
			<p>Saodat Savdo markazi bekati</p>
			<table>
				<tr class="mybus__inner">
					<td>
						<img src="img/bus.svg" alt="bus">
						<p>Aftobus</p>
					</td>
					<td>
						<img src="img/turn-right.svg" alt="turn-right">
						<p>Yo`nalish</p>
					</td>
					<td>
						<img src="img/clock.svg" alt="clock">
						<p>Vaqti</p>
					</td>
				</tr>
				<tr class="mybus__inner">
					<td>
						<p>58 - A</p>
					</td>
					<td>
						<p>Massive Do`stlik - 2</p>
					</td>
					<td>
						<p>12 min</p>
					</td>
				</tr>
				<tr class="mybus__inner">
					<td>
						<p>38 - A</p>
					</td>
					<td>
						<p>Massive Sergeli - 10</p>
					</td>
					<td>
						<p>10 min</p>
					</td>
				</tr>
				<tr class="mybus__inner">
					<td>
						<p>38 - A</p>
					</td>
					<td>
						<p>Massive Sergeli - 10</p>
					</td>
					<td>
						<p>10 min</p>
					</td>
				</tr>
				<tr class="mybus__inner">
					<td>
						<p>38 - A</p>
					</td>
					<td>
						<p>Massive Sergeli - 10</p>
					</td>
					<td>
						<p>10 min</p>
					</td>
				</tr>
				<tr class="mybus__inner">
					<td>
						<p>38 - A</p>
					</td>
					<td>
						<p>Massive Sergeli - 10</p>
					</td>
					<td>
						<p>10 min</p>
					</td>
				</tr>

			</table>
		</div>
	</div>
</body>
</html>