*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a{
	text-decoration: none;
	color: #000;
}

body{
	font-family: 'Poppins', sans-serif;
	background-color: #3E3E3E;
	font-size: 20px;
}
.mybus__top{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 25px 40px;
	background-color: #fff;
}
.mybus__top p {
	color: #3E3E3E;
	padding: 0;
	font-weight: 500;
	font-size: 22px;
}
.mybus__top h1{
	font-weight: bold;
	font-size: 22px;
	color: #1DA1F2;
}
.mybus__top h1 span{
	color: #0073BF;
}
.mybus__main{
	color: #fff;
	padding: 0 40px;
}
.mybus__main > p{
	margin-top: 40px;
	width: 100%;
	text-align: center;
	font-size: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #828282;
}
table{
	width: 100%;
	border-collapse: collapse;
}
.mybus__inner{
	border-bottom: 1px solid #828282;
}
.mybus__inner td{
	text-align: center;
	width: 33.3333%;
	padding-top: 15px;
	padding-bottom: 15px;
}
.mybus__inner td img{
	width: 30px;
	height: 30px;
}